/*custom animations for floating texts*/

.float-in{
    opacity: 0;
    transform: translateY(-100%);
    animation: floatIn 3s forwards;
}

@keyframes floatIn{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.float-right{
    opacity: 0;
    transform: translateX(100%);
    animation: floatRight 3s forwards;
}

@keyframes floatRight{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}


/* Custom CSS for non-Tailwind-specific styles */
#appointment {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#appointment.fade-in {
    opacity: 1;
}
